<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>

<div class="container">
    <h2>ToDo App</h2>
<form action ="/dashboard/addtask" method="POST">
      <input type="text" name="newtask" placeholder="Add new task"><button> Add Task </button>
   <h2> Added Tasks </h2>
   <% if(task.length > 0){for( var i = 0; i < task.length; i++){ %>
       <li><input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
       <br><br>
       <button formaction="/dashboard/removetask" type="submit"> Remove </button>
       <% }} else{%>
         <h3>You don't have anything to do.</h3>
       <%}%>
</form>
   <h2> Completed tasks </h2>
       <% if(complete.length > 0){for(var i = 0; i < complete.length; i++){ %>
     <li><input type="checkbox" checked disabled><%= complete[i] %> </li>
       <% }}else{%>
         <h3>You don't have any completed tasks.</h3>
       <%}%>
</div>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
